.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: normal;
}

.card {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    width: 20vw;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}